* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  width: 375px;
}

/* Header - Cabeçalho */

.header {
  width: 375px;
  height: 70px;
  display: flex;
  background: #3D3935 0% 0% no-repeat padding-box;
  justify-content: center;
  align-items: center;
}

.noor-logo {
  height: 29px;
  width: 140px;
}

/* Barra de navegação */

.navbar {
  width: 375px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #847F7A;
}

.navbar ul {
  height: 16px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 30px;
}

.navbar a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font: normal normal normal 16px/24px Helvetica;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 10px;
  display: block;
}

/* Banner */

.banner-image {
  top: 108px;
  left: 0px;
  width: 375px;
  height: 240px;
  
}

/* descrição */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  background-color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 348px;
  left: 0px;
  width: 375px;
  height: 300px;
}

.p-description {
  top: 376px;
  left: 44px;
  width: 287px;
  height: 245px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0px;
  color: #3D3935;
}

span {
  font-weight: bold;
  top: 129px;
  left: 22px;
  width: 239px;
  height: 16px;
}

/* noorskin - moon repair */

.main-content {
  padding: 20px;
  text-align: center;
  background-color: #F5F5F5;
  height: 1994px;
}

.product {

  font-size: 18px;
  font-weight: 700;
  color: #3D3935;
  margin-top: 24px;
  margin-bottom: 12px;
}

.product-description {
  font-size: 25px;
  margin-bottom: 1rem;
  color: #3D3935;
}


.product-image {
  width: 132px;
  height: 160px;
  max-width: 300px;
  margin: 13px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  color: #3D3935;
}

.product-text {
  font-size: 16px;
  line-height: 20px;
  color: #6F6C69;
  margin: 15px 0;
}

.product-text span {
  font-size: 15px;
  font-weight: bold;
  color: #6F6C69;
}

.product-repair {
  display: block;
}

.product-value {
  font-size: 16px;
  font-weight: bold;
  color: #F5F5F5;
  background-color: #BD8457;
  padding: 6px 14px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 16px;
}


.product-link {
  color: #BD8457;
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
}

/* separando conteúdo */

.product-divider {
  border: none;
  height: 1px;
  background-color: #E0E0E0;
  width: 90%;
  margin: 40px auto;
}

/* Editando cupom */

.cupom {
  background-color: #E0E0E0;
  margin-top: 40px;
  width: 327px;
  height: 312px;
  border: 1px solid #C9C9C9;
  border-radius: 10px;
}

/* grid - colunas */

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
}

.coluna {
  flex: 1;

}

.grid-img {
  width: 160px;
  height: 160px;
}

/* redes Sociais */
.media-social {
  width: 376px;
  height: 526px;
  background-color: #3D3935;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noorskin-img {
  width: 72px;
  height: 72px;
  margin: 48px 0 48px 0;
}

.social img {
  width: 41px;
  height: 41px;
  margin: 0 10px 0 10px;
}

/* Rodapé */

.logo-group {
  width: 376px;
  height: 120px;
  background-color: #1A1818;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  width: 159px;
  height: 54px;
}